<h1 class="text-center">{{ character?.name }}</h1>
<nav class="p-2">
  <ul class="pagination justify-content-center">
    <li>
      <a routerLink="/" class="btn btn-info">
        <span>&laquo; Go Back </span>
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row" style="align-items: center">
    <div class="col-md-4 col-xs-12">
      <img src="{{ character?.image }}" alt="..." class="img-fluid" />
    </div>
    <div class="col-md-8 col-xs-12">
      <div>Status: {{ character?.status }}</div>
      <br />
      <div>Species: {{ character?.species }}</div>
      <br />
      <div *ngIf="character?.type">Type: {{ character?.type }}<br /></div>

      <div>Gender: {{ character?.gender }}</div>
      <br />
      <div>
        Origin:
        <a routerLink="/location/{{ originLocationId }}">{{
          character?.origin?.name
        }}</a>
      </div>
      <br />
      <div>
        Location:
        <a routerLink="/location/{{ actualLocationId }}">{{
          character?.location?.name
        }}</a>
      </div>
    </div>
  </div>
  <h1 class="text-center">Episodes</h1>
  <div>
    <ol *ngFor="let episode of episodes">
      <li>
        <a routerLink="/episode/{{ episode.id }}">{{ episode.name }}</a>
      </li>
    </ol>
  </div>
</div>
