<h1 class="text-center">Episode: {{ episode?.name }}</h1>
<nav class="p-2">
  <ul class="pagination justify-content-center">
    <li>
      <a routerLink="/character/" class="btn btn-info">
        <span>&laquo; Go Back </span>
      </a>
    </li>
  </ul>
</nav>
<div class="container">
    <div class="row text-center">
        <div class="col">
                Air Date: {{episode?.air_date}}
        <div class="col">
                Serialize Number: {{episode?.episode}}
        </div>
    </div>
</div>