<h1 class="text-center">Characters List</h1>
<nav class="p-2">
  <ul class="pagination justify-content-center" style="align-items: center">
    <li class="p-2">Page: {{ actualPage }} of {{ lastPage }}</li>
    <li class="page-item" [ngClass]="{ disabled: pages?.prev === null }">
      <button class="page-link" (click)="getNewPage(true)">
        <span>&laquo; Prev</span>
      </button>
    </li>
    <li class="page-item" [ngClass]="{ disabled: pages?.next === null }">
      <button class="page-link" (click)="getNewPage(false)">
        <span>Next &raquo;</span>
      </button>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div
      class="col-xs-12 col-sm-6 col-md-4 p-2"
      *ngFor="let character of characters"
    >
      <a routerLink="/character/{{ character.id }}" class="text-white">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <img
                class="card-img-top h-100"
                src="{{ character.image }}"
                alt="..."
              />
            </div>
            <div class="col-sm-7" [ngClass]="{ 'bg-danger': character.status === 'Dead', 'bg-success': character.status === 'Alive', 'bg-secondary': character.status=== 'unknown'}">
              <div class="card-body text-left">
                <h5>{{ character.name }}</h5>
                <p class="card-text">
                  {{ character.status }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
